.table-cont {
    display: flex;
    flex-direction: row;
}

.table {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

table {
    text-align: center;
    border-collapse: collapse;
}

tr {
    text-align: center !important;
}

h1 {
    color: red;
}